config-notification { disable-failed; }
debug { honor-xdg-activation-with-invalid-serial; }
environment { XDG_CURRENT_DESKTOP "niri"; }
gestures { hot-corners { off; }; }
hotkey-overlay { skip-at-startup; }
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/screenshot from %Y-%m-%d %H-%M-%S.png"
layer-rule { match namespace="^quickshell$"; place-within-backdrop true; }
window-rule { match app-id=r#"org.quickshell$"#; open-floating true; }
window-rule { match is-active=false; opacity 0.9; }

include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/colors.kdl"
include "dms/layout.kdl"

include "tuf/apps.kdl"
include "tuf/binds.kdl"
include "tuf/device.kdl"
include "tuf/layout.kdl"
