binds {
  // launch apps
  Mod+B hotkey-overlay-title="Open Browser" { spawn "google-chrome-stable"; }
  Mod+E hotkey-overlay-title="Open Editor" { spawn "zeditor"; }
  Mod+Return hotkey-overlay-title="Open Terminal" { spawn "ghostty"; }
  Mod+Shift+Return hotkey-overlay-title="Open File Manager" { spawn "nemo"; }

  // window management
  Mod+W { close-window; }
  Mod+T repeat=false { toggle-column-tabbed-display; }
  Mod+Shift+T repeat=false { toggle-window-floating; }
}
