input {
  keyboard { numlock; }
  touchpad { natural-scroll; tap; }
}

output "DP-1" {
  mode "2880x1800@60.001"
  scale 2
}

// builtin display
output "eDP-1" {
  mode "1920x1080@144.063"
  scale 1.25
}
